:root {
    --primary: rgb(255, 255, 255);
}

.btn{
    padding: 8px 20px;
    border-radius: 2px;
    font-weight: 100;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn--primary--solid {
    background-color: var(--primary);
    color: #000000;
    border: none;
}

.btn--primary--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--small {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--medium {
    padding: 12px 26px;
    font-size: 20px;
}