.navbar {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    background-color: transparent !important;
    height: 80px;
    max-width: auto;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .bannerTop {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    background-color: transparent !important;
    height: 80px;
    max-width: auto;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
  }

  .nav-menu {
    display: grid;
    background-color: transparent !important;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: auto;
    justify-content: center;
    z-index: 998;
  }
  
  .nav-item {
    background-color: transparent !important;
    height: 20px;
    text-align: center;
  }
  
  .nav-links {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-variant: small-caps;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff !important;
    transition: all 0.2s ease-out !important; 
  }
