@media (min-width: 0px) and (max-width: 639px) {
  .wrap {
    position: relative;
    display: grid;
    height: 8%;
    width: 15%;
    top: -40%;
    left: 15%;

    background-color: rgb(0, 0, 0);
    user-select: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 1000;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;

  }

  .wrapLog {
    display: none;
  }

  ion-icon{
    display: none;
  }

  .wrapText {
    color: #ffffff;
    font-size: 1.7rem;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    user-select: none;
  }

  .wrap:hover {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(50px, auto);


    background: linear-gradient(-15deg, #fefefe, #646766, #1A1A1A, #000000, #1A1A1A, #646766, #ffffff);
    background-size: 400% 400%;
  
    animation: gradient 9s ease infinite;
    z-index: 1000;
  }
  
  .wrap:hover .wrapText {
    display: none;
    animation: disappear 1s ease;
  }

  .wrap:hover .wrapLog {
    display: inline;
    width: 55%;
    margin-left: 25%;
    height: 100%;
  }

  .wrap:hover ion-icon {
    display: inline;
    color: rgb(255, 255, 255);
  }

  .wrapLog:hover ion-icon {
    color: #46cc99;

  }

  @keyframes disappear {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

@media (min-width: 640px) and (max-width: 959px) {
  .wrap {
    position: relative;
    display: grid;
    height: 8%;
    width: 15%;
    top: -40%;
    left: 15%;

    background-color: rgb(0, 0, 0);
    user-select: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 1000;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;

  }

  .wrapLog {
    display: none;
  }

  ion-icon{
    display: none;
  }

  .wrapText {
    color: #ffffff;
    font-size: 1.7rem;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    user-select: none;
  }

  .wrap:hover {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(50px, auto);


    background: linear-gradient(-15deg, #fefefe, #646766, #1A1A1A, #000000, #1A1A1A, #646766, #ffffff);
    background-size: 400% 400%;
  
    animation: gradient 9s ease infinite;
    z-index: 1000;
  }
  
  .wrap:hover .wrapText {
    display: none;
    animation: disappear 1s ease;
  }

  .wrap:hover .wrapLog {
    display: inline;
    width: 55%;
    margin-left: 25%;
    height: 100%;
  }

  .wrap:hover ion-icon {
    display: inline;
    color: rgb(255, 255, 255);
  }

  .wrapLog:hover ion-icon {
    color: #46cc99;

  }

  @keyframes disappear {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

@media (min-width: 960px) and (max-width: 1099px) {
  .wrap {
    position: relative;
    display: grid;
    height: 8%;
    width: 15%;
    top: -40%;
    left: 15%;

    background-color: rgb(0, 0, 0);
    user-select: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 1000;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;

  }

  .wrapLog {
    display: none;
  }

  ion-icon{
    display: none;
  }

  .wrapText {
    color: #ffffff;
    font-size: 1.7rem;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    user-select: none;
  }

  .wrap:hover {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(50px, auto);


    background: linear-gradient(-15deg, #fefefe, #646766, #1A1A1A, #000000, #1A1A1A, #646766, #ffffff);
    background-size: 400% 400%;
  
    animation: gradient 9s ease infinite;
    z-index: 1000;
  }
  
  .wrap:hover .wrapText {
    display: none;
    animation: disappear 1s ease;
  }

  .wrap:hover .wrapLog {
    display: inline;
    width: 55%;
    margin-left: 25%;
    height: 100%;
  }

  .wrap:hover ion-icon {
    display: inline;
    color: rgb(255, 255, 255);
  }

  .wrapLog:hover ion-icon {
    color: #46cc99;

  }

  @keyframes disappear {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

@media (min-width: 1100px) and (max-width: 1399px) {
  .wrap {
    position: relative;
    display: grid;
    height: 8%;
    width: 15%;
    top: -40%;
    left: 15%;

    background-color: rgb(0, 0, 0);
    user-select: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 1000;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;

  }

  .wrapLog {
    display: none;
  }

  ion-icon{
    display: none;
  }

  .wrapText {
    color: #ffffff;
    font-size: 1.7rem;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    user-select: none;
  }

  .wrap:hover {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(50px, auto);


    background: linear-gradient(-15deg, #fefefe, #646766, #1A1A1A, #000000, #1A1A1A, #646766, #ffffff);
    background-size: 400% 400%;
  
    animation: gradient 9s ease infinite;
    z-index: 1000;
  }
  
  .wrap:hover .wrapText {
    display: none;
    animation: disappear 1s ease;
  }

  .wrap:hover .wrapLog {
    display: inline;
    width: 55%;
    margin-left: 25%;
    height: 100%;
  }

  .wrap:hover ion-icon {
    display: inline;
    color: rgb(255, 255, 255);
  }

  .wrapLog:hover ion-icon {
    color: #46cc99;

  }

  @keyframes disappear {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

@media (min-width: 1400px) and (max-width: 1919px) {
  .wrap {
    position: relative;
    display: grid;
    height: 8%;
    width: 15%;
    top: -40%;
    left: 15%;

    background-color: rgb(0, 0, 0);
    user-select: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 1000;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;

  }

  .wrapLog {
    display: none;
  }

  ion-icon{
    display: none;
  }

  .wrapText {
    color: #ffffff;
    font-size: 1.7rem;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    user-select: none;
  }

  .wrap:hover {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(50px, auto);


    background: linear-gradient(-15deg, #fefefe, #646766, #1A1A1A, #000000, #1A1A1A, #646766, #ffffff);
    background-size: 400% 400%;
  
    animation: gradient 9s ease infinite;
    z-index: 1000;
  }
  
  .wrap:hover .wrapText {
    display: none;
    animation: disappear 1s ease;
  }

  .wrap:hover .wrapLog {
    display: inline;
    width: 55%;
    margin-left: 25%;
    height: 100%;
  }

  .wrap:hover ion-icon {
    display: inline;
    color: rgb(255, 255, 255);
  }

  .wrapLog:hover ion-icon {
    color: #46cc99;

  }

  @keyframes disappear {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

@media (min-width: 1920px) {
  .wrap {
    position: relative;
    display: grid;
    height: 8%;
    width: 15%;
    top: -40%;
    left: 15%;

    background-color: rgb(0, 0, 0);
    user-select: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    z-index: 1000;

    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;

  }

  .wrapLog {
    display: none;
  }

  ion-icon{
    display: none;
  }

  .wrapText {
    color: #ffffff;
    font-size: 1.7rem;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    user-select: none;
  }

  .wrap:hover {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(50px, auto);


    background: linear-gradient(-15deg, #fefefe, #646766, #1A1A1A, #000000, #1A1A1A, #646766, #ffffff);
    background-size: 400% 400%;
  
    animation: gradient 9s ease infinite;
    z-index: 1000;
  }
  
  .wrap:hover .wrapText {
    display: none;
    animation: disappear 1s ease;
  }

  .wrap:hover .wrapLog {
    display: inline;
    width: 55%;
    margin-left: 25%;
    height: 100%;
  }

  .wrap:hover ion-icon {
    display: inline;
    color: rgb(255, 255, 255);
  }

  .wrapLog:hover ion-icon {
    color: #46cc99;

  }

  @keyframes disappear {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}