  html {
    height: 100vh;
    background: radial-gradient(circle at 105%,#000000 -4%,#676768 12%, #7d7d7e 16%,#a0a0a1 25%,#ffffff 50%,#000000 110%);
    overflow-y: hidden; 
    overflow-x: hidden;
    /* overflow: hidden;*/
    background-repeat: no-repeat;
    background-color: #000000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }
  
  /* ================================= OTHERS ==========================================*/

  .Loader {
    text-align: center;
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .loaderLayout{
    position:absolute;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    top:0;
    right: 55%;
  }

  .loaderText{
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    width: 200px;
    position:absolute;
    top:54vh;
  }
  .meLoader128 {
    background-color: transparent;
    text-align: center;
    position:absolute;
    top:20vh;
    width: 230px;
  }
  .meLoader64{
    background-color: transparent;
    text-align: center;
    position:absolute;
    top:20vh;
    width: 230px;
    animation: fading 1s forwards;
    animation-delay: 2s;
  }
  .meLoader48 {
    background-color: transparent;
    text-align: center;
    position:absolute;
    top:20vh;
    width: 230px;
    animation: fading 1.1s forwards;
    animation-delay: 1s;
  }
  .meLoader32{
    background-color: transparent;
    text-align: center;
    position:absolute;
    top:20vh;
    width: 230px;
    animation: fading 1.1s forwards;
  }

@keyframes fading {
  0%   { opacity: 1;}
  100% { opacity: 0;}
}
  
  #tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }


  /* ===================================== MAIN ======================================= */

  .myName {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: center;
    font-size: 120px;
    font-weight: 550;
    margin-top: 4.5cm;
    letter-spacing: 0.5cm;
    font-variant: small-caps;
    font-family: 'Raleway', sans-serif;
    user-select: none;
}

.subtitle {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    margin-top: 4.5cm;
    font-family: 'Raleway', sans-serif;
    user-select: none;
}

.settingsSound {
  position:absolute;
  background-color: transparent;
  background: transparent;
  border-style: none;
  bottom: 35px;
  height: 10px;
  width: 100px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  z-index: 10000;
}

.settingsSound ion-icon {
  position: absolute;
  display: block;
  left: 80px;
  color: white;
  font-size: 25px;
}

/* LARGE MOBILE */
@media only screen and (max-device-width: 720px) {
  .myName {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: center;
    font-size: 100px;
    font-weight: 550;
    margin-top: 4.5cm;
    letter-spacing: 0.5cm;
    font-variant: small-caps;
    font-family: 'Raleway', sans-serif;
    user-select: none;
  }
  .subtitle {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    margin-top: 2cm;
    font-family: 'Raleway', sans-serif;
    user-select: none;
  }
  .settingsSound {
    position:absolute;
    background-color: transparent;
    background: transparent;
    border-style: none;
    top: 35px;
    height: 10px;
    right: 50px;
    color: #ffffff00;
    z-index: 10000;
    }
    
  .settingsSound ion-icon {
    position: absolute;
    display: block;
    right: -10px;
    color: white;
    font-size: 25px;
  }
}

/* AVERAGE MOBILE */
@media only screen and (max-device-height: 667px) and (max-device-width: 375px) {
  .myName {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: center;
    font-size: 75px;
    font-weight: 550;
    margin-top: 4.5cm;
    letter-spacing: 0.5cm;
    font-variant: small-caps;
    font-family: 'Raleway', sans-serif;
    user-select: none;
  }
  .subtitle {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin-top: 2cm;
    font-family: 'Raleway', sans-serif;
    user-select: none;
  }
  .settingsSound {
    position:absolute;
    background-color: transparent;
    background: transparent;
    border-style: none;
    top: 35px;
    height: 10px;
    right: 50px;
    color: #ffffff00;
    z-index: 10000;
    }
    
  .settingsSound ion-icon {
    position: absolute;
    display: block;
    right: -10px;
    color: white;
    font-size: 25px;
  }
}

 /* AVERAGE DESKTOP */
 @media only screen and (max-device-height: 1440px) and (max-device-width: 900px) {
  .myName {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: center;
    font-size: 75px;
    font-weight: 550;
    margin-top: 4.5cm;
    letter-spacing: 0.5cm;
    font-variant: small-caps;
    font-family: 'Raleway', sans-serif;
    user-select: none;
  }
  .subtitle {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    margin-top: 2cm;
    font-family: 'Raleway', sans-serif;
    user-select: none;
  }
  .settingsSound {
    position:absolute;
    background-color: transparent;
    background: transparent;
    border-style: none;
    top: 35px;
    height: 10px;
    right: 50px;
    color: #ffffff00;
    z-index: 10000;
    }
    
  .settingsSound ion-icon {
    position: absolute;
    display: block;
    right: -10px;
    color: white;
    font-size: 25px;
  }
}

/* ====================================== CONTACT ME ====================================== */

.europe {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: fit-content;
  right: -400px;
  bottom: -50px;
  user-select: none;
}

.backgroundContactMe {
  background-color: #1A1A1A;
  height: 100vh;
  z-index: -999;
}

.contactMe{
  position: absolute;
  top: 300px;
  left: 250px;
}

.titlePage {
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: 1000;
  font-weight: 200;
  font-variant: small-caps;
  color: #ffffff;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  user-select: none;

}

.contactMeText {
  position: absolute;
  top: 190px;
  left: 50px;
  z-index: 1000;
  color: #ffffff;
  font-size: 30px;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  user-select: none;
  margin-top: 2cm;
  font-weight: 100;
}

.contactMeEmail {
  position: absolute;
  bottom: 190px;
  left: 50px;
  z-index: 1000;
  color: #ffffff;
  background-color: transparent;
  margin: 0;
  font-size: 23px;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  user-select: none;
  font-weight: 100;
}

.btn-clipboard {
  position: absolute;
  bottom: 188px;
  left: 400px;
  z-index: 1000;
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popUpNotification {
  position: absolute;
  height: 50px;
  width: 300px;
  background-color: #46cc99;
  border-radius: 20%;
  border-color: #000000;
  font-family: 'Ropa Sans', sans-serif;
  border-style: solid;
  bottom: 188px;
  left: 40%;
  z-index: 999;
  animation: popUp 4s ease infinite;
}

@keyframes popUp {
  0%   { bottom: 0px;opacity:0;}
  25%  { bottom: 180px; opacity:1;}
  75%  { bottom: 180px; opacity:1;} 
  100% { opacity: 0;}
}

.textPopup {
  position:absolute;
  left:20%;
  top:25%;
  font-size: larger;
}


/* =============================== ABOUT ME ====================================*/

.aboutMeBackground{
  height:100vh;
  width:100%;
  background-color: #1A1A1A;
}

.subtitlePage{
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-align: left;
  font-size: 45px;
  font-weight: 550;
  letter-spacing: 0.3cm;
  font-variant: small-caps;
  font-family: 'Raleway', sans-serif;
  user-select: none;
}

.personDiv {
 /* background: rgba(255, 255, 255, 0.158);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.158 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.158 ); */
  position:absolute;
  top: 160px;
  width: 800px;
  margin-left: 5%;
  margin-top: 2cm;
}

.engineerDiv {
  /* background: rgba(255, 255, 255, 0.158);
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.158 );
   backdrop-filter: blur( 6px );
   -webkit-backdrop-filter: blur( 6px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.158 ); */
   position:absolute;
   top: 160px;
   width: 800px;
   margin-left: 55%;
   margin-top: 2cm;
 }

 
.textAboutMe {
  color: rgb(255, 255, 255);
  text-align: left !important;
  font-size: 20px;
  font-weight: 0;
  margin-top: 0.5cm;
  line-height: 2;
  font-family: 'Raleway', sans-serif;
  user-select: none;
}

.textAboutMe a:-webkit-any-link {
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-decoration: underline;
}

.wrapper {

  display: grid;
  grid-template-columns: min-content repeat(3, 1fr) 300px;
  grid-auto-rows: minmax(50px, auto);

  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  user-select: none;
  text-align: center;
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 3;
  grid-row: 1;
}
.four {
  grid-column: 4;
  grid-row: 1;
}
.five {
  grid-column: 1;
  grid-row: 2;
}
.six {
  grid-column: 2;
  grid-row: 2;
}
.seven {
  grid-column: 3;
  grid-row: 2;
}
.eight{
  grid-column: 4;
  grid-row: 2;
}