  html {
    height: 100vh;
    background: radial-gradient(circle at 105%,#000000 -4%,#676768 12%, #7d7d7e 16%,#a0a0a1 25%,#ffffff 50%,#000000 110%);
    overflow-y: hidden; 
    overflow-x: hidden;
    /* overflow: hidden;*/
    background-repeat: no-repeat;
    background-color: #000000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ropa Sans', sans-serif;
  }
  
  .Loader {
    text-align: center;
    display: flex;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .myName {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: center;
    font-size: 120px;
    font-weight: 550;
    margin-top: 4cm;
    letter-spacing: 0.5cm;
    font-variant: small-caps;
    font-family: 'Raleway', sans-serif;
    user-select: none;
}

.subtitle {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    margin-top: 4.5cm;
    user-select: none;
}


.trial {
    color: white;
    text-align: center !important;
    position: relative;
    margin-top: 0;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}

.Childhood,
.Travelling,
.University
.Future {

  opacity: 1;
}

.textUniversity,
.textFuture,
.textTravelling,
.textChildhood {
  color: rgb(0, 0, 0);
  text-align: center !important;
  position: relative;
  margin-top: 0;
  top: 3cm;
  right: 5cm;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;

}

.myFace {
  width: auto;
  position: absolute;
  right: 300px;
  bottom: 20%;
  height: 600px;
  filter: brightness(60%);
  border: 5px solid #ffffff;
}

.aboutMeBackground {
  height: 100vh;
  background: radial-gradient(circle at 0%,#ffffff 0%, #676768 60% ,#000000 80%);
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.europe {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: fit-content;
  right: -400px;
  bottom: -50px;
}

.backgroundContactMe {
  background-color: #1A1A1A;
  height: 100vh;
  z-index: -999;
}

.contactMe{
  position: absolute;
  top: 300px;
  left: 80px;
}